* {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		body {
			max-width: 500px;
			margin: 2em auto;
			padding: 0 0.5em;
			font-size: 20px;
		}

		h1 {
			text-align: center;
		}

		.api-support {
			display: block;
		}

		.hidden {
			display: none;
		}

		.value {
			font-weight: bold;
		}

		.author {
			display: block;
			margin-top: 1em;
		}

		.dark-theme {
			background-color: #000000;
			color: #FFFFFF;
		}

		.classic-theme {
			background-color: #DDCBB4;
			color: #996666;
		}

		.light-theme {
			background-color: #FFFFFF;
			color: #000000;
		}